body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.avatar {
    margin-top: -70px;
    padding-bottom: 20px;
}

.avatar img {
    padding: 5px;
    background: #fff;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
    box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
}
.box{
    margin-top: 5rem;
}
 .card>h2{
  width: 100%;
  position: absolute;
  background: linear-gradient(to bottom, #0006 29%, #ffffff00 80%);
  padding: 1rem;
  z-index: 100;
 }