body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.avatar {
    margin-top: -70px;
    padding-bottom: 20px;
}

.avatar img {
    padding: 5px;
    background: #fff;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
    box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
}
.box{
    margin-top: 5rem;
}
 .card>h2{
  width: 100%;
  position: absolute;
  background: linear-gradient(to bottom, #0006 29%, #ffffff00 80%);
  padding: 1rem;
  z-index: 100;
 }

.navbar-item > .plus-icon{
  color :#FF6B67;
}

.navbar-item > .plus-icon:hover{
 color:#bd4441;
}


.google-button{
   /* display: block;*/
    background: rgb(209, 72, 54);
    color: rgb(255, 255, 255);
/*    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 2px;
    border: 1px solid transparent;
    font-size: 1.25rem;*/
    font-weight: 500;
    font-family: Roboto;
    margin-top: 1rem;
}

/*.columns{
  margin-top: .75rem;
}*/
.column {
  z-index: 1;
}
.media .subtitle{
  margin-top: 0.5rem;
}
